* {  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*html*/
html{
    background-color: bisque;    
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*body*/
body{
    background-color:cornsilk;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

header, main{
    margin: 10px;
    padding: 10px;    
    border-bottom: 2px solid burlywood;
}


/*main*/
section{  
    margin: 10px;
    padding: 10px;  
}

#resume p{
    font-size: 1.1rem;;
    line-height: 1.5;
    margin-bottom: 1rem;
}

ul{
    list-style:square;
    font-size: 1rem;
    line-height: 1.3rem;
}

em{
    font-style: italic;
}

.winner{
    font-style: bold;
    color: rgb(198, 170, 11);
}

.nominee{
    font-style: bold;
    color: rgb(163, 157, 157);
}


/*footer*/
address{
    font-style: normal;    
    text-align: center;
}


/*headlines*/
h1, h2{
    text-align: center;
    font-weight: lighter;
}

h1{
    font-style: italic;
}

h2{
    margin-bottom: 1rem;
}


/*images*/
img{    
    width: 100%;
    min-width: 400px;
}


/*grid*/
body{
    display: grid;
    grid-template: 
    "a"
    "b"
    "c";
}

header{ grid-area: a; }
main{ grid-area: b; }
footer{ grid-area: c; }

header{
    display:grid;
}

main{
    display: grid;
    grid-template: 
    "a b b b"
    "c c d d" / 1fr 1fr 1fr 1fr;
}

#photo{
    grid-area: a;    
}

#resume{
    grid-area: b;
}

#movies{
    grid-area: c;
}

#awards{
    grid-area: d;
}

#footer{
    display: grid;
}


/*media query*/
@media (max-width: 800px){
    #photo{
       max-width: 400px;
    }
    html{
        background-color: cornsilk;
    }
    main{
        display: grid;
        grid-template: 
        "a"
        "b"
        "c"
        "d";
    }
}